<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="img/software.png" alt="Imagen de producto" class="card-img-top">
            <div class="card-body">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero inventore corrupti modi eos nostrum
                    placeat eum quaerat ullam reiciendis corporis ad nesciunt veniam perspiciatis unde eius, debitis nam
                    excepturi. Molestiae.
                </p>
            </div>
            <div class="card-footer">
                <button id="checkout-button" class="btn btn-dark btn-block" data-secret="{{ session_id }}">
                    Buy <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </div>

    </div>
</div>